chromadb
langchain-text-splitters
requests
langchain_community
pypdf
flask
PyPDF2
langchain_core
python-dotenv
psycopg2-binary
tqdm
markitdown[all]
torch
transformers >= 4.40.0
ollama
langchain_ollama
